%table
  %tr
    %th.date-col Posted
    %th Title
    %th Comp
    %th 
    %th 
    %th

  - job_listings.each do |job_listing|
    %tr
      %td.date= time_ago(job_listing.posted_at)

      %td= link_to job_listing[:title], job_listing_path(job_listing.id)

      %td.compensation
        -if job_listing.compensation.present? && job_listing.compensation.match(/\d/)
          =job_listing.compensation

      %td
        -if job_listing[:email].present?
          %a.icon{href: job_listing[:email]}
            %i.fa.fa-envelope-o.fa-lg

      %td
        %a.icon{href: job_listing.absolute_url, target: "_blank"}
          %i.fa.fa-files-o.fa-lg

      %td
        %a.icon{href: "job_listings/#{job_listing.id}/scrape"}
          %i.fa.fa-wrench.fa-lg

= "#{count} Total Results"
= paginate(job_listings)